Repository eclipse-ankaios/ank-sdk-python, pull requests merged in 2025-04, with the labels that each got.

#63 Add versioned doc
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .gitignore
  docs/Makefile
  docs/generate_versioned_docs.sh
  setup.py
Labels: documentation, ready for review

#64 Fix docs tags fetching
  .github/workflows/build.yml
  .github/workflows/documentation.yml
  docs/README.md
Labels: documentation

#66 Examples refactoring Issue
  .gitignore
  .idea/.gitignore
  .idea/ank-sdk-python.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  examples/README.md
  examples/ank-exec-bash.sh
  examples/ank-logs.sh
  examples/app/Dockerfile
  examples/app/requirements.txt
  examples/apps/follow_state.py
  examples/apps/hello_ankaios.py
  examples/apps/sleepy.py
  examples/follow_state/README.md
  examples/follow_state/app_manifest.yaml
  examples/hello_ankaios/Dockerfile
  examples/hello_ankaios/README.md
  examples/hello_ankaios/app_manifest.yaml
  examples/hello_ankaios/requirements.txt
  examples/manifest.yaml
  examples/run_example.sh
  examples/sleepy/Dockerfile
  examples/sleepy/README.md
  examples/sleepy/requirements.txt
Labels: enhancement, ready for review, waiting for response
